nav{
    font-size: 2rem;
    background-color: whitesmoke;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
}
nav ul li{
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}
nav ul li:hover{
    background-color: rgb(72, 28, 193);
    color: rgb(18, 220, 105);
}
@media all and (max-width: 600px){
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }
}